.postTitle{
    padding: 5px;
    width: 80%;
    font-size: 24px;
    font-weight: 600;
}

.postImg{
    object-fit: cover;
}
   
.postInfo{
    display: flex;
    flex-direction: column;
}

.postDescription{
    font-size: 14px;
    color:#444;
    font-family: "Varela Round",sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
}